.footer-container {
  background-color: #424242;
  display: flex;
  height: 12vw;
  justify-content: center;
  align-items: center;
  gap: 50vw;
}

.explanation {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;

  h1 {
    color: $white;
    font-family: "Gumi Romance";
    font-size: 1.8vw;
    letter-spacing: -0.96px;
  }
  h3 {
    color: $white;
    font-family: Pretendard;
    font-size: 1vw;
    font-weight: 300;
  }
}
