.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: end;

  position: fixed;
  top: 15vh;
  right: 0;
}

.calendar-link {
  display: flex;
  width: 17vh;
  height: 6.5vh;
  padding-left: 5.8vh;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  background: $blue-300;
  border: none;

  color: #fff;
  font-family: "Jalnan";
  font-size: 2.1vh;
}

.diary-link {
  display: flex;
  width: 17vh;
  height: 6.5vh;
  padding-left: 5.8vh;
  align-items: center;
  border-radius: 50px 0px 0px 50px;
  background: #424242;
  border: none;

  color: #fff;
  font-family: "Jalnan";
  font-size: 2.1vh;
}
