.container {
  display: flex;
  justify-content: center;
  margin-top: 18vh;
}

.option-container {
  display: flex;
  flex-direction: column;

  h3 {
    font-family: "Freesentation";
    font-weight: 700;
    font-size: 1.4vw;
    margin-bottom: 0.2vw;
  }

  p {
    font-family: "Freesentation";
    font-weight: 300;
    font-size: 1.1vw;
    margin-bottom: 1.8vw;
  }
}

.drawing-container {
  display: flex;
  gap: 0.9vw;

  margin-bottom: 4vw;
}

.color-container {
  display: flex;
  gap: 0.8vw;

  margin-bottom: 4vw;
}

.character-container {
  display: flex;
  gap: 1vw;
}

.custom-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.8vw;

  .line {
    height: 0.1vh;
    background-color: $gray;
    margin-bottom: 3vw;
  }

  .hair-container {
    display: flex;
    gap: 1.1vw;
    margin-bottom: 1.8vw;
  }

  .clothes-container {
    display: flex;
    gap: 1.1vw;
  }
}

.select-btn {
  display: flex;
  justify-content: center;

  margin-top: 5vw;
  margin-bottom: 8vw;
}
