.card-container {
  display: flex;
  flex-direction: column;
  width: 17vw;
  padding: 2.6vw 0 1vw 0;
  border-radius: 1vw;
  border: 1px solid #484848;
  background: #fff;

  transition: all 0.2s ease;
}

.card-img {
  width: 92%;
  margin-left: 1.35vw;
}

.card-text {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8vh;

  font-family: "Jalnan";
  font-size: 1.4vw;
  color: $black;
}

.selected {
  border: 0.2vw solid $blue-500;
}

.dimmed {
  opacity: 0.5;
}
