.card_div {
  display: flex;
  gap: 1.5vh;
  margin-top: 8ch;
}

.card {
  width: 13vh;
  height: 6vh;
  border-radius: 1.8vh;
  border: 1px solid $gray;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 2vh;
  color: $black;
  background-color: $white;
}
