.diary-card {
  display: flex;
  flex-direction: column;

  width: 33vh;
  height: 66vh;
  border-radius: 16px;
  gap: 1.5vh;

  h3 {
    font-size: 2.2vh;
    font-weight: 700;
    text-align: center;

    color: $black;
    font-family: "Jalnan";

    margin-top: 5vh;
  }
}

.diary-text {
  margin: 0 auto;

  width: 27vh;
  font-size: 1.9vh;
  color: $black;
  text-align: left;
  font-family: "Freesentation";
  font-size: 100;
  font-weight: 300;
}

.emotion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;

  p {
    color: $black;
    font-family: Freesentation;
    font-size: 1.8vh;
    font-weight: 400;
  }

  .emotion {
    width: 4.5vh;
  }
}

.diary-img {
  width: 80%;
  border-radius: 16px;
  object-fit: cover;
  margin: 0 auto;
}

.before-diary {
  margin: 0 auto;
  width: 87%;
}
