.diary-card {
  display: flex;
  flex-direction: column;

  width: 20vw;
  height: 41vw;
  border-radius: 16px;
  gap: 1vw;

  h3 {
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;

    color: $black;
    font-family: "Jalnan";

    margin-top: 2.9vw;
  }
}

.diary-text {
  margin: 0 auto;

  width: 16vw;
  font-size: 1.05vw;
  color: $black;
  text-align: left;
  font-family: "Freesentation";
  font-size: 100;
  font-weight: 300;
}

.emotion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;

  p {
    color: $black;
    font-family: Freesentation;
    font-size: 1vw;
    font-weight: 400;
  }

  .emotion {
    width: 2.6vw;
  }
}

.diary-img {
  width: 80%;
  border-radius: 16px;
  object-fit: cover;
  margin: 0 auto;
}

.before-diary {
  margin: 0 auto;
  width: 80%;
}
