.canvas_btn {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;

  button {
    border-radius: 2vh;
    border: 1px solid $gray;
    background: #fff;

    width: 8vh;
    height: 8vh;
    padding: 0;
  }

  img {
    width: 100%;
  }

  .select {
    border: 2px solid $blue-500;
  }
}
