.card-wrapper {
  perspective: 800px;
  width: 28vh;
  aspect-ratio: 3.2 / 4;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: url("src/shared/assets/cursor.png"), pointer !important;
}

.card-wrapper:hover .card-inner:not(.flipped) {
  transform: rotateY(-30deg);
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2vh;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 6.6vh 5vh;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  transform: rotateY(180deg);
  font-family: "Pretendard";

  p {
    font-weight: 300;
    font-size: 1.8vh;
    margin-bottom: 3vh;
    color: $black;
  }

  p strong {
    font-weight: 800;
    display: block;
    font-size: 1.8vh;
    margin-bottom: 0.5vh;
  }
}

.image {
  width: 15vh;
  margin-bottom: 2.5vh;
}

.name {
  font-family: "Jalnan";
  font-size: 2.7vh;
  margin-bottom: 1.8vh;
  color: $black;
}

.grade {
  font-family: "Jalnan";
  font-size: 1.9vh;
  color: $black;
}
