.first-section {
  display: flex;
  background: linear-gradient(0deg, #96c3ff 0.01%, #3387f7 100%);
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 7vw;
  gap: 5vw;

  div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }

  p {
    font-family: "Pretendard";
    font-weight: 100;
  }

  strong {
    font-family: "Pretendard";
    font-weight: 800;
  }

  h1 {
    font-family: "Gumi Romance";
    font-size: 9vw;
  }

  img {
    width: 32vw;
  }
}

.subtitle-1 {
  font-size: 2.8vw;
  letter-spacing: -1.2px;
}

.subtitle-2 {
  font-size: 1.4vw;
}

.second-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  gap: 3vw;

  .second-diary {
    display: flex;
    justify-content: center;
    gap: 3vw;
  }

  .second-content {
    font-family: "Pretendard";
    font-weight: 300;
    font-size: 1.2vw;
    text-align: center;
  }
}

.third-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .third-content {
    font-family: "Pretendard";
    font-weight: 300;
    font-size: 1.3vw;
    text-align: center;
  }
}

.diary-stack {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    position: relative;
    margin-left: -15vh;
    transition: transform 0.3s ease, z-index 0.3s ease;
    transform: scale(0.75);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent;
      border-radius: inherit;
      transition: background 0.3s ease;
      pointer-events: none;
    }
  }

  > *:first-child {
    margin-left: 0;
  }

  &:hover > *:not(:hover)::before {
    background: rgba(0, 0, 0, 0.2);
  }

  > *:hover {
    transform: scale(0.85);
    z-index: 2;
  }
}

.final-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 9vw;
}

.card-stack {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;

  margin-bottom: 10vw;
}
