.text {
  display: flex;
  padding: 1.4vh 5.3vh;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  border: 1px solid gray;
  background: $ligtgray;

  color: $black;
  font-family: "Jalnan";
  font-size: 1.3vh;
}
