.text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20vh;
  height: 6.5vh;

  border-radius: 50px;
  border: 1px solid $gray;
  background: $ligtgray;

  color: $black;
  font-family: "Jalnan";
  font-size: 1.3vh;
}
