.layout {
  display: flex;
  flex-direction: column;

  height: 92vh;
  justify-content: center;
}

.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-btn {
  margin-top: 5vh;
}
