.layout {
  display: flex;
  flex-direction: column;

  margin-top: 20vh;
}

.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-btn {
  margin-top: 5vh;
}

.logout {
  margin-top: 20vh;
  color: $gray;
  font-family: "Pretendard";
  font-size: 2vh;
  font-weight: 400;
  letter-spacing: -0.72px;

  cursor: pointer;
}
