.option-btn {
  display: flex;
  width: 15.5vh;
  height: 6vh;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  border: none;

  font-family: "Freesentation";
  color: $black;
  font-size: 1.9vh;
  font-weight: 400;

  border-radius: 50px;
  border: 0.5px solid $black;
  background: $white;

  transition: all 0.1s;
}

.option-select {
  color: $white;
  background: $blue-300;
  border: none;
}
