.button {
  display: flex;
  padding: 1vw 3.6vw;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  background: $gray2;
  border: none;

  font-family: "jalnan";
  color: $white;
  font-size: 1.3vw;
  cursor: pointer;
}

.access {
  background: $blue-500;
}
