.clothes-btn {
  display: flex;
  width: 11.3vw;
  height: 13vw;
  padding: 0.8vw 1vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1vw;
  border: 1px solid #777777;
  background: var(--white, #fff);
  transition: all 0.1s ease;

  img {
    width: 100%;
  }
}

.selected {
  border: 2px solid $blue-500;
}

.dimmed {
  opacity: 0.5;
}
