.button {
  display: flex;
  padding: 1.8vh 4.8vh;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  background: $blue-300;
  border: none;

  font-family: "jalnan";
  color: $white;
  font-size: 1.8vh;
}
