.layout {
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .animatedText {
    span {
      opacity: 0;
      display: inline-block;
      animation: fadeIn 1s ease-in-out infinite alternate;
    }
  }
  h3 {
    color: $black;
    font-family: Freesentation;
    font-size: 2.8vh;
    font-weight: 700;
    margin-bottom: 0.6vh;
  }

  p {
    color: $black;
    font-family: Freesentation;
    font-size: 2vh;
    font-weight: 300;
    margin-bottom: 2vh;
  }

  img {
    width: 40vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-0.2em);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-0.2em);
  }
}
