.layout {
  display: flex;
  flex-direction: column;

  height: 92vh;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $black;
    font-family: Freesentation;
    font-size: 2.8vh;
    font-weight: 700;
    margin-bottom: 0.6vh;
  }

  p {
    color: $black;
    font-family: Freesentation;
    font-size: 2vh;
    font-weight: 300;
    margin-bottom: 2vh;
  }

  img {
    width: 40vh;
  }
}
