.layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  justify-content: center;
}

.typing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;

  h3 {
    color: $black;
    font-family: "Freesentation";
    font-size: 1.7vw;
    font-weight: 700;

    margin-bottom: 0.3vw;
  }

  p {
    color: $black;
    font-family: "Freesentation";
    font-size: 1.2vw;
    font-weight: 300;
    margin-bottom: 0.5vw;
  }

  .waring {
    font-size: 1vw;
    margin-top: 0.8vw;
  }

  .textarea-container {
    position: relative;
    width: 31vw;
    height: 27vw;
    margin-bottom: 4vh;

    textarea {
      position: absolute;
      width: 31vw;
      height: 27vw;
      padding: 1vw 1vw;
      border-radius: 1vw;
      border: 1px solid var(--gray, #9e9e9e);
      background: #fff;

      font-family: "Freesentation";
      font-weight: 300;
      font-size: 1.6vw;

      z-index: 3;
    }

    .preview-box {
      position: absolute;
      color: $black;
      width: 31vw;
      height: 27vw;
      padding: 1vw 1vw;
      border-radius: 1vw;
      background: #fff;

      font-family: "Freesentation";
      font-weight: 300;
      font-size: 1.6vw;
      z-index: 2;
    }
  }
}
