.color-btn {
  display: flex;
  width: 14.5vh;
  height: 5.8vh;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  border-radius: 50px;
  border: none;

  font-family: "Freesentation";
  color: $black;
  font-size: 1.9vh;
  font-weight: 400;

  border: 0.5px solid $black;
  background: $white;

  transition: all 0.1s;
}

.color-dot {
  width: 3vh;
  height: 3vh;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ff5d5d;
}

.color-select {
  color: $white;
  background: $blue-300;
  border: none;
}
