.layout {
  display: flex;
  flex-direction: column;

  height: 100vh;
  justify-content: center;

  user-select: none; /* 텍스트 선택 방지 */
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none; /* 터치 시 스크롤 방지 */
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: $black;
    font-family: "Freesentation";
    font-size: 2vw;
    font-weight: 700;

    margin-bottom: 0.5vw;
  }

  p {
    color: $black;
    font-family: "Freesentation";
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 0.8vw;
  }
}

.canvas-div {
  display: flex;
  gap: 1.2vw;
}

.toolbar {
  margin-top: 20vw;
}

.canvas {
  margin-right: 6.9vw;
  border: 1px solid #333;
  border-radius: 1vw;
  padding: 0.2vw;

  margin-top: 2vw;
  margin-bottom: 3vw;
}
